{% extends 'black.html' %}
{% load static %}

{% block title %}
Actualización
{% endblock title %}

{% block window %}
{% include 'includes/datepicker_range.html' %}
<!-- contenido de la pagina -->
<br>
<br>
<div class="card" style="width: 25rem;">
  <div class="card-header text-center">
    <h2>Actualizar Base de Datos</h2>
  </div>
  <div class="card-body">
    <!-- Pestañas -->
    <ul class="nav nav-tabs" id="actualizacionTabs" role="tablist">
      <li class="nav-item" role="presentation">
        <button class="nav-link active" id="base-datos-tab" data-bs-toggle="tab" data-bs-target="#base-datos"
          type="button" role="tab" aria-controls="base-datos" aria-selected="true">Base de Datos</button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="powerbi-tab" data-bs-toggle="tab" data-bs-target="#powerbi" type="button"
          role="tab" aria-controls="powerbi" aria-selected="false">PowerBi</button>
      </li>
    </ul>
    <div class="tab-content" id="actualizacionTabsContent">
      <div class="tab-pane fade show active" id="base-datos" role="tabpanel" aria-labelledby="base-datos-tab">
        <!-- Formulario de actualización de Base de Datos -->
        <p>
        <form action="{% url 'home_app:actualizacion' %}" method="post" id="FormActualizacion">
          {% csrf_token %}
          <span class="card text-center"><button id="submitBtn" type="submit"
              class="btn btn-primary">Actualizar</button></span>
        </form>
        </p>
      </div>
      <div class="tab-pane fade" id="powerbi" role="tabpanel" aria-labelledby="powerbi-tab">
        <!-- Formulario de actualización de PowerBi -->
        <p>
        <form action="{% url 'bi_app:actualizacion_bi' %}" method="post" id="myFormPowerBi">
          {% csrf_token %}
          <span class="card text-center"><button id="submitBtnPowerBi" type="submit"
              class="btn btn-primary">Actualizar</button></span>
        </form>
        </p>
        <h6>Recuerda!!! máximo 3 actualizaciones en un día</h6>
      </div>
    </div>
  </div>
</div>

<!-- Este es el Modal -->
<div class="modal" id="processingModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Actualizando...</h5>
      </div>
      <div class="modal-body">
        Por favor, espere mientras se procesa su actualización...
        <br>
        <hr>
        <div id="powerBiMessage" style="display: none;">
          Ten en cuenta que una vez termine la actualización debes esperar 5 min. para que se refresquen los datos.
          <br>
          <hr>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- final del modal -->
{% endblock window %}

{% block script %}
<script>
  document.getElementById("processingModal").style.display = "none";
  var csrf_token = document.getElementsByName("csrfmiddlewaretoken")[0].value;

  // Evento click para Base de Datos
  document.getElementById("submitBtn").addEventListener("click", function (event) {
    event.preventDefault();
    // Check if a task is already in progress
    if (this.getAttribute("data-submitted") === "true") {
      alert("Ya hay una tarea en curso.");
      return;
    }

    this.setAttribute("data-submitted", "true");
    document.getElementById("processingModal").style.display = "flex";
    showMessage("database");
    submitForm("{% url 'home_app:actualizacion' %}", "FormActualizacion");
  });

  // Evento click para PowerBi
  document.getElementById("submitBtnPowerBi").addEventListener("click", function (event) {
    event.preventDefault();
    // Check if a task is already in progress
    if (this.getAttribute("data-submitted") === "true") {
      alert("Ya hay una tarea en curso.");
      return;
    }

    this.setAttribute("data-submitted", "true");
    document.getElementById("processingModal").style.display = "flex";
    showMessage("powerbi");
    submitForm("{% url 'bi_app:actualizacion_bi' %}", "myFormPowerBi");
  });

  function showMessage(type) {
    var powerBiMessage = document.getElementById("powerBiMessage");
    if (type === "powerbi") {
      powerBiMessage.style.display = "block";
    } else {
      powerBiMessage.style.display = "none";
    }
  }

  function submitForm(url, formId) {
    document.getElementById("processingModal").style.display = "flex";

    // Realiza la solicitud AJAX al servidor
    var xhr = new XMLHttpRequest();
    xhr.responseType = "text";
    xhr.open("POST", url, true);
    xhr.setRequestHeader("X-CSRFToken", csrf_token);
    xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
    xhr.onreadystatechange = function () {
      if (this.readyState === XMLHttpRequest.DONE) {
        // document.getElementById("processingModal").style.display = "none";
        console.log(this.status, this.responseText);
        var response = JSON.parse(this.responseText);
        handleServerResponse(this.status, response);
      }
    };
    var database = window.sessionStorage.getItem("database_name");
    var formData = new FormData(document.getElementById(formId));
    formData.append("database_select", encodeURIComponent(database));
    xhr.send(new URLSearchParams(formData).toString());
  }

  // Manejar la respuesta del servidor
  function handleServerResponse(status, response) {
    if (status === 200) {
      if (typeof response === "object" && "success" in response) {
        if (response.success) {
          // Almacena interface_task_id en sessionStorage
          window.sessionStorage.setItem("task_id", response.task_id);
          // Comprueba el estado de la tarea
          checkTaskStatus();
        } else {
          alert("Hubo un error en el proceso: " + response.error_message);
        }
      } else {
        alert("La respuesta del servidor no es un objeto JSON válido");
      }
    } else {
      alert("Hubo un error al enviar la solicitud, código de estado: " + status);
    }
  }

  // función para revisar estatus de la tarea
  function checkTaskStatus() {
    var task_id = window.sessionStorage.getItem("task_id");

    var xhr = new XMLHttpRequest();
    xhr.responseType = "text";
    xhr.open("POST", "{% url 'home_app:check_task_status' %}", true);
    xhr.setRequestHeader("X-CSRFToken", csrf_token);
    xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
    xhr.onreadystatechange = function () {
      if (this.readyState === XMLHttpRequest.DONE) {
        var response = JSON.parse(this.responseText);
        handleTaskStatus(this.status, response);
      }
    };
    xhr.send("task_id=" + encodeURIComponent(task_id));
  }

  // Revisar el estado de la tarea
  function handleTaskStatus(status, response) {
    if (status === 200) {
      if (typeof response === "object" && "status" in response) {
        if (response.status === "finished") {
          // La tarea se ha completado, podemos mostrar el resultado al usuario
          document.getElementById("processingModal").style.display = "none";
          alert("Proceso terminado");
        } else if (response.status === "failed") {
          // La tarea falló
          document.getElementById("processingModal").style.display = "none";
          alert("Hubo un error en el proceso: " + response.result);
        } else if (response.status === "queued" || response.status === "deferred" || response.status === "started") {
          // La tarea aún se está ejecutando, verifica el estado de nuevo después de un tiempo
          setTimeout(checkTaskStatus, 20000);
        } else {
          alert("Estado desconocido de la tarea: " + response.status);
        }
      } else {
        alert("La respuesta del servidor no es un objeto JSON válido");
      }
    } else {
      alert("Hubo un error al comprobar el estado de la tarea, código de estado: " + status);
    }
  }
</script>
{% endblock script %}