{% extends 'black.html' %}
{% load static %}

{% block title %}
Cubo de Ventas
{% endblock title %}

{% block window %}
{% include 'includes/datepicker_range.html' %}
<!-- contenido de la pagina -->
<br>
<br>
<div class="card" style="width: 25rem;">
  <div class="card-header text-center">
    <h2>Cubo de Ventas</h2>
  </div>
  <div class="card-body">
    <form action="{% url form_url %}" method="post" id="FormCubo">
      {% csrf_token %}
      <label for="date_input">Fecha:</label>
      <div id="reportrange"
        style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc; width: 100%">
        <i class="fa fa-calendar"></i>&nbsp;
        <span></span> <i class="fa fa-caret-down"></i>
      </div>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th><label class="lh-1" for="IdtReporteIni">Fecha Inicial:</label></th>
            <th><label class="lh-1" for="IdtReporteFin">Fecha Final:</label></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th><input type="date" name="IdtReporteIni" id="IdtReporteIni" readonly></th>
            <th><input type="date" name="IdtReporteFin" id="IdtReporteFin" readonly></th>
          </tr>
        </tbody>
      </table>
  </div>
  <span class="card text-center"><button id="submitBtn" type="submit" class="btn btn-primary"
      data-submitted="false">Generar Cubo de
      Ventas</button></span>
  </form>

  <br>
  <br>
  {% include 'includes/download_file.html' %}
</div>
<!-- Este es el Modal -->
<div class="modal" id="processingModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Procesando Cubo de Ventas...</h5>
      </div>
      <div class="modal-body">
        Por favor, espere mientras se genera el archivo...
      </div>
    </div>
  </div>
</div>
<!-- final del modal -->
{% endblock window %}

{% block script %}

<script>
  document.getElementById("processingModal").style.display = "none";
  document.getElementById("download_file").className = 'd-none';
  var csrf_token = document.getElementsByName("csrfmiddlewaretoken")[0].value;
  document.getElementById("submitBtn").addEventListener("click", function (event) {
    event.preventDefault();
    // Check if a task is already in progress
    if (this.getAttribute("data-submitted") === "true") {
      alert("Ya hay una tarea en curso.");
      return;
    }

    this.setAttribute("data-submitted", "true");
    document.getElementById("processingModal").style.display = "flex";

    // Realiza la solicitud AJAX al servidor
    var xhr = new XMLHttpRequest();
    xhr.responseType = "text";
    xhr.open("POST", "{% url form_url %}", true);
    xhr.setRequestHeader("X-CSRFToken", csrf_token);
    xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
    xhr.onreadystatechange = function () {
      if (this.readyState === XMLHttpRequest.DONE) {
        console.log(this.status, this.responseText);
        var response = JSON.parse(this.responseText);
        handleServerResponse(this.status, response);
      }
    };

    var database = window.sessionStorage.getItem("database_name");
    var IdtReporteIni = document.getElementById("IdtReporteIni").value;
    var IdtReporteFin = document.getElementById("IdtReporteFin").value;
    xhr.send("database_select=" + encodeURIComponent(database) + "&IdtReporteIni=" + encodeURIComponent(IdtReporteIni) + "&IdtReporteFin=" + encodeURIComponent(IdtReporteFin));
  });

  // Manejar la respuesta del servidor
  function handleServerResponse(status, response) {
    if (status === 200) {
      if (typeof response === "object" && "success" in response) {
        if (response.success) {
          // Almacena cubo_ventas_task_id en sessionStorage
          window.sessionStorage.setItem("task_id", response.task_id);
          // Comprueba el estado de la tarea
          checkTaskStatus();
        } else {
          alert("Hubo un error en el proceso: " + response.error_message);
        }
      } else {
        alert("La respuesta del servidor no es un objeto JSON válido");
      }
    } else {
      alert("Hubo un error al enviar la solicitud, código de estado: " + status);
    }
  }

  // función para revisar estatus de la tarea
  function checkTaskStatus() {
    var task_id = window.sessionStorage.getItem("task_id");

    var xhr = new XMLHttpRequest();
    xhr.responseType = "text";
    xhr.open("POST", "{% url 'home_app:check_task_status' %}", true);
    xhr.setRequestHeader("X-CSRFToken", csrf_token);
    xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
    xhr.onreadystatechange = function () {
      if (this.readyState === XMLHttpRequest.DONE) {
        var response = JSON.parse(this.responseText);
        handleTaskStatus(this.status, response);
      }
    };
    xhr.send("task_id=" + encodeURIComponent(task_id));
  }

  // Revisar el estado de la tarea
  function handleTaskStatus(status, response) {
    if (status === 200) {
      if (typeof response === "object" && "status" in response) {
        if (response.status === "finished") {
          // La tarea se ha completado, podemos mostrar el resultado al usuario
          document.getElementById("processingModal").style.display = "none";
          document.getElementById("download_file").className = 'd-flex';
          alert("Proceso terminado");
        } else if (response.status === "failed") {
          // La tarea falló
          document.getElementById("processingModal").style.display = "none";
          alert("Hubo un error en el proceso: " + response.result);
        } else if (response.status === "queued" || response.status === "deferred" || response.status === "started") {
          // La tarea aún se está ejecutando, verifica el estado de nuevo después de un tiempo
          setTimeout(checkTaskStatus, 20000);
        } else {
          alert("Estado desconocido de la tarea: " + response.status);
        }
      } else {
        alert("La respuesta del servidor no es un objeto JSON válido");
      }
    } else {
      alert("Hubo un error al comprobar el estado de la tarea, código de estado: " + status);
    }
  }


  // Función para borrar el archivo después de descargarlo
  function deleteFile() {
    // Realiza una llamada a una vista en Django que se encargue de borrar el archivo
    var xhr = new XMLHttpRequest();
    xhr.responseType = "text";
    xhr.open("POST", "{% url 'home_app:delete_file' %}", true);
    xhr.setRequestHeader("X-CSRFToken", csrf_token);
    xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
    xhr.onreadystatechange = function () {
      if (this.readyState === XMLHttpRequest.DONE) {
        console.log(this.status, this.responseText);
      }
    };
    xhr.send();
  }
  // Función para recargar el formulario después de borrar el archivo
  function reloadForm() {
    location.reload();
  }
  // Ejecuta las funciones después de descargar el archivo
  document.getElementById("download_file").addEventListener("click", function () {
    var link = this;

    document.getElementById("download_file").className = 'd-none';
    link.onclick = function () {
      return false;
    };
    setTimeout(function () {
      deleteFile();
      document.getElementById("submitBtn").setAttribute("data-submitted", "false");
      setTimeout(reloadForm, 1000);
    }, 1000);
  });
</script>

{% endblock script %}