altgraph
asgiref
auto-py-to-exe
Babel
bottle
bottle-websocket
certifi
cffi
charset-normalizer
cryptography
Eel
et-xmlfile
future
gevent
gevent-websocket
greenlet
idna
mariadb
msal
numpy
openpyxl
packaging
pandas
pefile
Pillow
protobuf
pycparser
pyinstaller
pyinstaller-hooks-contrib
PyJWT
PyMySQL
pyparsing
python-dateutil
pytz
pywin32
pywin32-ctypes
requests
six
SQLAlchemy
sqlparse
style
tkcalendar
tzdata
Unipath
update
urllib3
whichcraft
zope.event
zope.interface
