<!-- {% if perms.permisos.nav_bar %} -->
{% load static %}


<!-- Barra lateral -->
<div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark">
  <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
    <!-- Logo y Nombre de Usuario -->
    <a href="{% url 'home_app:panel' %}"
      class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
      <img src="{% static 'images/Logo-Blanco.png' %}" alt="Logo" width="30" height="30" class="rounded-circle">
      <span class="fs-5 ms-2 d-none d-sm-inline">{{ user.get_full_name }}</span>
    </a>
    <!-- Enlaces de Navegación -->
    <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start">
      {% if perms.permisos.cubo %}
      <li class="nav-item">
        <a class="nav-link text-white align-middle px-0" href="{% url 'home_app:cubo'%}">
          <i class="fas fa-cube me-2"></i> <span class="ms-1 d-none d-sm-inline">Cubo de Ventas</span>
        </a>
      </li>
      {% endif %}
      {% if perms.permisos.interface %}
      <li class="nav-item">
        <a href="{% url 'home_app:interface'%}" class="nav-link text-white align-middle px-0">
          <i class="fas fa-desktop me-2"></i> <span class="ms-1 d-none d-sm-inline">Int. Contables</span>
        </a>
      </li>
      {% endif %}
      {% if perms.permisos.plano %}
      <li class="nav-item">
        <a href="{% url 'home_app:plano'%}" class="nav-link text-white align-middle px-0">
          <i class="fas fa-table me-2"></i> <span class="ms-1 d-none d-sm-inline">Archivos Planos</span>
        </a>
      </li>
      <li class="nav-item">
        <a href="{% url 'cargues_app:cargue'%}" class="nav-link text-white align-middle px-0">
          <i class="fas fa-table me-2"></i> <span class="ms-1 d-none d-sm-inline">Cargue Planos Zip</span>
        </a>
      </li>
      <li class="nav-item">
        <a href="{% url 'cargues_app:cargue_planos_tsol'%}" class="nav-link text-white align-middle px-0">
          <i class="fas fa-table me-2"></i> <span class="ms-1 d-none d-sm-inline">Cargue Planos Tsol</span>
        </a>
      </li>
      {% endif %}
      {% if perms.permisos.actualizar_base %}
      <li class="nav-item">
        <a href="{% url 'home_app:actualizacion'%}" class="nav-link text-white align-middle px-0">
          <i class="fas fa-th me-2"></i><span class="ms-1 d-none d-sm-inline">Actualización Datos</span>
        </a>
      </li>
      {% endif %}
      {% if perms.permisos.admin %}
      <li class="nav-item">
        <a href="{% url 'admin:index' %}" class="nav-link text-white align-middle px-0">
          <i class="fas fa-sliders-h me-2"></i> <span class="ms-1 d-none d-sm-inline">Configuración</span>
        </a>
      </li>
      {% endif %}
      <!-- Agrega más elementos de menú aquí según sea necesario -->
    </ul>

    <hr>

    <!-- Área de Usuario y Dropdown -->
    <div class="dropdown pb-4">
      <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1"
        data-bs-toggle="dropdown" aria-expanded="false">
        <img src="{% static 'images/user-profile.png' %}" alt="profile" width="30" height="30" class="rounded-circle">
        <span class="d-none d-sm-inline mx-1">{{ user.username }}</span>
      </a>
      <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1">
        <!-- Agrega elementos al dropdown según sea necesario -->
        {% if user.is_authenticated %}
        <li><a class="dropdown-item" href="{% url 'users_app:user-logout' %}">Sign out</a></li>
        {% endif %}
      </ul>
    </div>
  </div>
</div>




<!-- {% endif %} -->