{% extends 'black.html' %}
{% load static %}

{% block title %}
Cargue Zip
{% endblock title %}

{% block window %}
<!-- Contenido de la página -->
<br>
<br>
<div class="card" style="width: 25rem;">
    <div class="card-header text-center">
        <h2>Cargue de Archivo ZIP</h2>
    </div>
    <div class="card-body">
        <form action="{% url form_url %}" method="post" id="CargueZip" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="mb-3">
                <label for="zip_file">Archivo ZIP:</label>
                <input type="file" name="zip_file" accept=".zip" class="form-control" id="zip_file">
            </div>
            <span class="card text-center">
                <button id="submitBtn" type="submit" class="btn btn-primary" data-submitted="false" disabled>Subir
                    Archivo</button>
            </span>
        </form>
    </div>
</div>
<!-- Este es el Modal -->
<div class="modal" id="processingModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Procesando Cubo de Ventas...</h5>
            </div>
            <div class="modal-body">
                Por favor, espere mientras se genera el archivo...
            </div>
        </div>
    </div>
</div>
<!-- final del modal -->
{% endblock window %}

{% block script %}
<script>
    var csrf_token = document.getElementsByName("csrfmiddlewaretoken")[0].value;

    document.getElementById('zip_file').addEventListener('change', function () {
        var submitBtn = document.getElementById('submitBtn');
        submitBtn.disabled = !this.files.length;
    });

    document.getElementById("submitBtn").addEventListener("click", function (event) {
        event.preventDefault();

        var form = document.getElementById("CargueZip");
        var formData = new FormData(form);

        var database = window.sessionStorage.getItem("database_name");
        formData.append("database_select", database);

        var xhr = new XMLHttpRequest();
        xhr.open("POST", form.action, true);
        xhr.setRequestHeader("X-CSRFToken", csrf_token);

        xhr.onreadystatechange = function () {
            if (this.readyState === XMLHttpRequest.DONE) {
                console.log(this.status, this.responseText);
                var response = JSON.parse(this.responseText);
                handleServerResponse(this.status, response);
            }
        };

        xhr.send(formData);
    });

    function handleServerResponse(status, response) {
        if (status === 200) {
            if (response.success) {
                window.sessionStorage.setItem("task_id", response.task_id);
                checkTaskStatus(response.task_ids);
                alert("Archivo subido con éxito.");
            } else {
                alert("Hubo un error en el proceso: " + response.error_message);
            }
        } else {
            alert("Hubo un error al enviar la solicitud, código de estado: " + status);
        }
    }

    function handleTaskStatus(status, response) {
        if (status === 200) {
            if (typeof response === "object" && "status" in response) {
                // Ocultar el modal de procesamiento si está presente
                document.getElementById("processingModal").style.display = "none";

                if (response.status === "finished") {
                    // La tarea ha terminado, manejar según el resultado de la tarea
                    if (response.result.success) {
                        alert(response.result.message);  // Mensaje de éxito
                    } else {
                        alert(response.result.message);  // Mensaje de error
                    }
                } else if (response.status === "failed") {
                    alert("Hubo un error en el proceso: " + response.result);
                } else if (response.status === "queued" || response.status === "deferred" || response.status === "started") {
                    // La tarea aún se está ejecutando, verifica el estado de nuevo después de un tiempo
                    setTimeout(checkTaskStatus, 20000);
                } else {
                    alert("Estado desconocido de la tarea: " + response.status);
                }
            } else {
                alert("La respuesta del servidor no es un objeto JSON válido");
            }
        } else {
            alert("Hubo un error al comprobar el estado de la tarea, código de estado: " + status);
        }
    }

</script>
{% endblock script %}