{% extends 'base.html' %}
{% load static %}
{% block title %}
Inicio
{% endblock title %}

{% block content %}
<style>
    .background-container::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.4);
        z-index: 1;
    }
</style>
<div class="container-fluid position-relative background-container"
    style="height: 100vh; background-image: url('{% static 'images/background-image.png' %}'); background-size: cover;">
    <div class="d-flex flex-column align-items-center h-100" style="position: relative; z-index: 2;">
        <div class="row">
            <div class="col">
                <div class="card mx-auto bg-transparent border-0" style="width: 150px; height: 150px;">
                    <img src="{% static 'images/Logo-DataZenith.png' %}" class="card-img-top img-fluid rounded-circle"
                        style="width: 150px; height: 150px; background-color: #f0f0f0;" alt="Logo-Bi">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <div class="card mx-auto bg-transparent border-0" style="width: 150px; height: 150px;">
                    <img src="{% static 'images/Logo-Cerebro-Bi.png' %}" class="card-img-top img-fluid rounded-circle"
                        style="width: 150px; height: 150px; background-color: #f0f0f0;" alt="Logo-DataZenith">
                </div>
            </div>
            <div class="col-6">
                <div class="card mx-auto bg-transparent border-0" style="width: 150px; height: 150px;">
                    <img src="{% static 'images/Logo-Bi.png' %}" class="card-img-top img-fluid rounded-circle"
                        style="width: 150px; height: 150px; background-color: #f0f0f0;" alt="Logo-Sidis">
                </div>
            </div>
        </div>
    </div>
    <div class="position-absolute" style="top: 80%; left: 50%; transform: translate(-50%, -50%); z-index: 2;">
        <h1 class="text-center text-white" style="font-size: 5rem;">Interface</h1>
        <h3 class="text-center text-white" style="font-size: 3rem;">BI Solutions</h3>
    </div>
    <a href="{% url 'users_app:user-login' %}" class="btn btn-primary position-absolute"
        style="top: 15px; right: 15px; z-index: 2;">Ir a Login</a>
</div>
{% endblock content %}