{% extends 'base.html' %}
{% load static %}
{% block title %}
Enlace enviado
{% endblock title %}

{% block content %}
<div class="container vh-100">
    <div class="row align-items-center h-100">
        <div class="col-md-12 text-center">
            <h3>Se ha enviado un enlace de recuperación de contraseña a tu correo electrónico.</h3>
            <p>Revisa tu correo electrónico y sigue las instrucciones para restablecer tu contraseña.</p>
        </div>
    </div>
</div>
{% endblock content %}
