{% extends 'base.html' %}
{% load static %}
{% block title %}
Recuperar contraseña
{% endblock title %}

{% block content %}
<div class="container vh-100">
    <div class="row align-items-center h-100">
        <div class="col-md-6">
            <img src="{% static 'images/imagen-login.png' %}" class="img-fluid" style="max-width: 100%; height: auto;"
                alt="Logo">
        </div>
        <div class="col-md-6">
            <div class="card shadow-lg p-3 mb-5 bg-white rounded">
                <div class="card-body">
                    <div class="text-center mb-4">
                        <img src="{% static 'images/Logo-DataZenith.png' %}" class="brand_logo img-thumbnail"
                            style="max-width: 200px; height: auto;" alt="Logo">
                        <h3>Recuperar contraseña</h3>
                    </div>
                    <form method="post" action="{% url 'users_app:password_reset' %}">
                        {% csrf_token %}
                        {{ form.email.label_tag }} {{ form.email }}
                        <button type="submit" class="btn btn-primary">Enviar enlace de recuperación</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}